{% extends 'main/sample.html' %}

{% block title  %}Про нас{% endblock %}

{% block content  %}
    <div class="about">
        <h1>Про нас</h1><br>
        <p3>В «LUXOR» можно попариться в финской парной с бамбуковыми вениками, прогреться в русской бане на дровах, поиграть в бильярд и настольный теннис, полюбоваться живым огнем в камине или продемонстрировать свои вокальные способности в караоке. Нереальное чувство расслабления после парной подарят массажное кресло или сеанс у мастера массажа, который профессионально разомнет прогретые мышцы и суставы. Получить максимальную пользу и массу положительных эмоций от пребывания в бане поможет профессиональный парильщик.</p3>
        <div class="button">
            <a href="{% url 'home' %}">На главную</a>
        </div>
    </div>
{% endblock %}